{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "no-nested-ternary": "off",
    "comma-dangle": "off",
    "import/extensions": "off",
    "no-undef": "error",
    "no-unused-vars": "warn"
    
  }
}
